p {font-size: 18px;}
body{
    background-color: rgb(255, 160, 125);
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .center{
    margin: auto;
    width: 50%;
  }