<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main-page.component.css">
</head>
<body>
    
      <div class="container-fluid bg-1 text-center">
        <h2 class="margin">Ki vagyok Én?</h2>
        <!-- <img src="https://i.imgur.com/qmaUQtk.jpeg" class="img-responsive img-circle margin" style="display:inline" alt="picture" width="350" height="350"> -->
        <img src="/assets/images/profile.jpg" class="img-responsive img-circle margin" style="display:inline" alt="picture" width="300" height="300">
        <h2>Egy kreatív pályakezdő</h2>
      </div>
      <div class="container-fluid bg-2 text-center">
        <h2 class="margin">Miért hoztam létre a személyes demó oldalam?</h2>
       <div class="container bg-2 text-center">
          <p>Azért készítettem a weboldalt, mert úgy gondolom, ezáltal többet tudok megmutatni magamból. Egy CV-be szárazon összegyűjthetek címszavakba mindent, ami lényeges egy adott állásra jelentkezés kapcsán, de abból a valós tudás nem  derül ki.</p>
        </div>
      </div>
      <div class="container text-center">
      <footer class="container-fluid bg-4 text-center">
        <blockquote >
          <p>"A programozás is kreatív tevékenység, csak most nem papírt és ceruzát kell  ragadni."</p>
          <footer class="text-right">Bettina</footer>
        </blockquote>
      </footer>
    </div>
</body>
</html>

